.navbar {
    background-color: $primaryColor;
    height: 70px;

    .container {
        max-width: 1100px;
        margin: 0 auto;
        height: 100%;

        h1 {
            color: $whiteColor;
            font-weight: 300;
        }

        .nav {
            display: flex;

            li {
                padding: 0 20px;
            }
        
            a:hover {
                border-bottom: 2px $whiteColor solid;
            }
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}