$primaryColor: #047aed;
$whiteColor: #fff;
$darkColor: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $whiteColor;
}

li {
    list-style: none;
}

@import "./header";
@import "./showcase";